:root {
  --primario: #71b100;
  --secundario: #e08709;
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
}

.bg-success {
  background-color: var(--primario) !important;
}

@media (min-width: 768px) {
  .barra.bg-success {
    background-color: transparent !important;
  }
  .header {
    position: relative;
  }
  .header .barra {
    position: absolute;
    z-index: 100;
    width: 100%;
  }
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 300;
}

.navbar-brand span {
  font-weight: 900;
}

.navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
  color: #ffffff;
}

/*Menu de las habitaciones*/
.dropdown-menu {
  background-color: #71b100;
}

.dropdown-menu .dropdown-item {
  color: #ffffff;
  text-transform: uppercase;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #e08709;
}

/*Caption, Parte inferior del Slider con Info*/

.carousel-caption h3 {
  font-size: 2.4rem;
}

.bloque-info p {
  font-size: 1.4rem;
}

.btn-warning {
  background-color: #e08709;
  color: #ffffff;
  border-color: #e08709;
  font-weight: 700;
}

.card-precio {
  color: #71b100;
}

/*Anuncio Encuentra*/

.encuentra {
  background-image: url(../Imagenes/contacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.encuentra .row {
  height: 25rem;
}

.encuentra h3 {
  font-size: 2.2rem;
  font-weight: 900;
}

.footer .bg-dark {
  background-color: #333333 !important;
}

.footer .nav-link {
  color: #ffffff;
  text-transform: uppercase;
}
